# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Output build directory
dist
.build

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
